# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS files

#folders
/.vs
/SnakeCpp/Debug
/SnakeCpp/x64
/SnakeCpp/SnakeCpp.sln
/SnakeCpp/.vs
/SnakeCpp/SnakeCpp/Debug
/SnakeCpp/SnakeCpp/x64

#files
*.filters
*.user
*.vcxproj
/SnakeCpp/SnakeCpp/button_template.png
/SnakeCpp/SnakeCpp/images/button_template.png
/SnakeCpp
